:root {
    --main-bg-color: #eff0ef;
    --heading-bg-color: #415E40;
    --heading-tab-text: #ffffff;
    --decorative: #4C5E40;
    --dark-decorative: #344e41;
    --bar-color: #333;
}

header {
    margin: 10px;
    border-radius: 1rem;
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    padding: 1rem;
}

main {
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    margin: 10px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: kanit;
    margin: 0px;
}

h3 {
    background-color: var(--dark-decorative);
    color: var(--heading-tab-text);
    font-size: 25px;
    border-radius: .25rem;
    position: relative;
    top: -3px;
    padding: 10px;
}

h5 {
    padding: 5px;
}

.hero {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: .50rem;
}

p {
    font-family: abel;
}

img {
    box-shadow: 0px 0px 5px 5px rgba(29, 28, 28, 0.667);
    background-color: var(--heading-tab-text);
}


.flag {
    display: grid;
    position: relative;
    right: 8rem;
    top: -4rem;
}

.title-container {
    margin-top: 0px;
    margin-left: 8rem;
}

#menu {
    font-size: 6rem;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
    padding: 0px 0px;
    position: absolute;
    top: .50rem;
    right: .5rem;
    color: var(--heading-tab-text);
    background: none;
}

#menu::before {
    content: "≡";
}



nav {
    margin-top: 4rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--alternate-bg);

}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;

}

.navigation a {
    display: flex;
    background-color: var(--bar-color);
    color: var(--heading-tab-text);
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: larger;
    margin: 4px;
}

.navigation li {
    display: none;
}

#menu.show::before {
    content: "X";
    font-size: 6.5rem;
}

.menu-buttons {
    margin: 1rem auto;
    border: 1px solid var(--bar-color);
    padding: 1rem;
    color: var(--heading-tab-text);
    background-color: var(--dark-decorative);
    text-align: center;
    font-weight: 700;
    border-radius: .50rem;

}

button:hover {
    background-color: var(--decorative);
}


.buttons-container {
    text-align: center;
}

.activity-card {
    margin: 1rem 8px;
    border: 1px solid var(--dark-decorative);
    background-color: var(--decorative);
    color: var(--heading-tab-text);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "name"
        "photograph"
        "weather"
        "cost"
        "reservation"
        "age"
        "description";
}

.activity-card h2 {
    margin: 0 1rem;
    grid-area: name;
}

.activity-card img {
    width: 100%;
    grid-area: photograph;
}

.activity-card .activity-weather {
    grid-area: weather;
}

.activity-card .activity-cost {
    grid-area: cost;
}

.activity-card .activity-reservation {
    grid-area: reservation;
}

.activity-card .activity-age {
    grid-area: age;
}

.activity-card .activity-description {
    grid-area: description;
}

.active {
    border-left: solid 10px yellowgreen;
}

.show li {
    display: grid;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-info {
    padding: 10px;
}

.current-weather,
.weather-forcast,
.events,
.welcome {
    background-color: var(--main-bg-color);
    margin: 10px;
    border-radius: .25rem;
    border: solid 4px var(--dark-decorative);
    text-align: center;
}



.list {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid var(--dark-decorative);
}

.list .activity-card img {
    display: none;
}

.list p {
    margin: 0 1rem
}

.weather-icon {
    background-color: lightblue;
    margin: 10px auto;
}

footer {
    margin: 10px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-container {
    flex: 1 1 350px;
    flex: 1 1 350px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-bottom: 40px;
}

.flag-footer {
    position: relative;
    top: 7px;
    left: 5px;
}