/* ----------General Declerations------------ */
:root {
    --main-bg-color: #eff0ef;
    --heading-bg-color: #588157;
    --heading-tab-text: #ffffff;
    --decorative: #a3b18a;
    --dark-decorative: #344e41;
}

header {
    margin-top: 45px;
    border-radius: 1rem;
    background-color: var(--main-bg-color)
}

main {
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    margin: 10px;
}

footer {
    margin: 0 auto;
    padding-bottom: 2rem;
    border-radius: 1rem;
    background-color: var(--main-bg-color)
}

p {
    font-family: abel;
}

h1,
h2,
h3 {
    font-family: kanit;
}

/* ----------Header---------- */
.active {
    border-left: solid yellowgreen;
}

.header-container {
    display: grid;
}

header {
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text)
}

img {
    box-shadow: 0px 0px 5px 5px rgba(29, 28, 28, 0.667);
}

#menu {
    font-size: 8rem;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
    padding: 0px 0px;
    position: absolute;
    top: .50rem;
    right: 1rem;
    color: var(--heading-tab-text);
    background: none;
}

#menu::before {
    content: "≡";
}

.name {
    font-size: 60px;
    text-align: center;
    padding-bottom: 1rem;
    font-family: kanit;
}

nav {
    margin-top: 30px;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--alternate-bg);
    color: var(--heading-tab-text);
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
}

.navigation a {
    display: flex;
    color: var(--heading-tab-text);
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: larger;
}

.navigation li {
    display: none;
}

.navigation a:hover {
    background-color: var(--heading-tab-text);
    color: var(--heading-bg-color);
    border: solid var(--decorative-border) 2px;
    border-radius: 10rem;
    margin: 0px;
    transition-timing-function: ease-in-out;
    transform: translate(20px);
    transition-duration: 0.5s
}

#menu.show::before {
    content: "X";
}

.profile-picture {
    position: relative;
    top: 35px;
}

.show li {
    display: grid;
}

/* ----------Body---------- */

.class-buttons {
    text-align: center;
}

.coursework,
.place,
.container-2 {
    border: 2px solid var(--heading-bg-color);
    border-radius: .75rem;
    margin-top: 10px;
}

.credits-display {
    text-align: center;
}

dialog {
    background-color: var(--decorative);
    border-radius: .25rem;
    margin-left: 10px auto;
    margin-right: 10px auto;
    padding: 1rem;
    text-align: left;
    max-width: 700px;
}

dialog button {
    position: absolute;
    top: 45px;
    right: 25px;
}

::backdrop {
    background-color: rgb(0 0 0/ 0.5)
}

h4 {
    background-color: var(--dark-decorative);
    color: var(--heading-tab-text);
    padding: 10px;
    border-radius: .25rem;
}

.filters-container {
    border-bottom: solid 2px#333;
}

.flag {
    position: relative;
    top: 7px;
    left: 5px;
}

footer {
    background-color: var(--heading-bg-color);
    text-align: center;
    color: var(--heading-tab-text);
    padding-top: 1rem;
}

h1 {
    color: var(--dark-decorative);
    padding-left: 10px;
}

h2 {
    background-color: var(--heading-bg-color);
    color: var(--heading-tab-text);
    border-radius: .5rem;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px
}


h3 {
    background-color: #333;
    color: var(--heading-tab-text);
    padding: 10px;
    border-radius: .5rem;
}

.filter-Button:hover,
.open-button-t:hover,
.open-button-f:hover {
    background-color: var(--heading-bg-color);
    transform: scale(1.3) rotate(1deg);
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}


.place-picture {
    display: block;
    margin: 1rem auto;
}

.place-title {
    text-align: center;
    font-family: kanit;
}

.open-button-f {
    margin: 10px;
    background-color: var(--decorative);
    color: var(--heading-tab-text);
    border-radius: .5rem;
    text-align: center;
    padding: 20px 100px;
}

.open-button-t {
    margin: 10px;
    background-color: var(--dark-decorative);
    color: var(--heading-tab-text);
    border-radius: .5rem;
    text-align: center;
    padding: 20px 100px;
    ;
}

.subjects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}


/* -----------------------Larger Screens---------------------------*/

@media (min-width: 900px) {

    /* ----------Header---------- */
    header {
        background-color: var(--heading-bg-color);
        color: var(--heading-tab-text);
        margin-top: 0px;
    }

    #menu {
        display: none;
    }

    /* header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } */

    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        background-color: var(--alternate-bg);
        justify-content: center;
        margin: 0;

    }

    /*---------Navigatio Bar---------*/
    .active {
        border-left: none;
        border-bottom: solid yellowgreen;
    }

    .navigation {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, .75fr);
        background-color: #333;
        text-align: center;
        color: #eee;
    }

    .navigation li {
        display: grid
    }

    .navigation a {
        display: grid;
        background-color: #333;
        color: #eee;
        text-decoration: none;
        text-align: center;
        margin: 0;
    }

    /* ----------Main---------- */
    .container-1 {
        display: grid;
        grid-template: auto .75fr auto / auto .50fr auto;
        gap: 25px;
    }

    .coursework {
        grid-column: 1/3;
    }

    .place {
        grid-column: 3/4;
    }

    .classes {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }


}